.gap {
  gap: var(--space-gap);
}

.gap-sm {
  gap: var(--space-gap-sm);
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: var(--space-1);
}
.m-2 {
  margin: var(--space-2);
}
.m-3 {
  margin: var(--space-3);
}
.m-4 {
  margin: var(--space-4);
}
.m-5 {
  margin: var(--space-5);
}
.m-gap {
  margin: var(--space-gap);
}
.m-gap-sm {
  margin: var(--space-gap-sm);
}

.me-0 {
  margin-inline-end: 0;
}
.me-1 {
  margin-inline-end: var(--space-1);
}
.me-2 {
  margin-inline-end: var(--space-2);
}
.me-3 {
  margin-inline-end: var(--space-3);
}
.me-4 {
  margin-inline-end: var(--space-4);
}
.me-5 {
  margin-inline-end: var(--space-5);
}
.me-gap {
  margin-inline-end: var(--space-gap);
}
.me-gap-sm {
  margin-inline-end: var(--space-gap-sm);
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: var(--space-1);
}
.mb-2 {
  margin-bottom: var(--space-2);
}
.mb-3 {
  margin-bottom: var(--space-3);
}
.mb-4 {
  margin-bottom: var(--space-4);
}
.mb-5 {
  margin-bottom: var(--space-5);
}
.mb-gap {
  margin-bottom: var(--space-gap);
}
.mb-gap-sm {
  margin-bottom: var(--space-gap-sm);
}

.ms-0 {
  margin-inline-start: 0;
}
.ms-1 {
  margin-inline-start: var(--space-1);
}
.ms-2 {
  margin-inline-start: var(--space-2);
}
.ms-3 {
  margin-inline-start: var(--space-3);
}
.ms-4 {
  margin-inline-start: var(--space-4);
}
.ms-5 {
  margin-inline-start: var(--space-5);
}
.ms-gap {
  margin-inline-start: var(--space-gap);
}
.ms-gap-sm {
  margin-inline-start: var(--space-gap-sm);
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: var(--space-1);
}
.mt-2 {
  margin-top: var(--space-2);
}
.mt-3 {
  margin-top: var(--space-3);
}
.mt-4 {
  margin-top: var(--space-4);
}
.mt-5 {
  margin-top: var(--space-5);
}
.mt-gap {
  margin-top: var(--space-gap);
}
.mt-gap-sm {
  margin-top: var(--space-gap-sm);
}

.mx-auto {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.mx-gap {
  margin-inline-start: var(--space-gap);
  margin-inline-end: var(--space-gap);
}
.my-gap {
  margin-top: var(--space-gap);
  margin-bottom: var(--space-gap);
}
.mx-gap-sm {
  margin-inline-start: var(--space-gap-sm);
  margin-inline-end: var(--space-gap-sm);
}
.my-gap-sm {
  margin-top: var(--space-gap-sm);
  margin-bottom: var(--space-gap-sm);
}

.space-y-gap {
  display: flex;
  flex-direction: column;
  gap: var(--space-gap);
}
.space-y-gap-sm {
  display: flex;
  flex-direction: column;
  gap: var(--space-gap-sm);
}
.space-y-auto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.space-x-gap {
  display: flex;
  flex-direction: row;
  gap: var(--space-gap);
}
.space-x-gap-sm {
  display: flex;
  flex-direction: row;
  gap: var(--space-gap-sm);
}

.space-x-auto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
