:root {
  /* Global tokens */
  --font-h1: 2.5rem;
  --font-h2: 2rem;
  --font-h3: 1.75rem;
  --font-h4: 1.5rem;
  --font-h5: 1.25rem;
  --font-h6: 1rem;
  --font-p: 1rem;
  --font-small: 0.875rem;

  --line-height: 1.5; /* WCAG (SC 1.4.12) */
  --line-height-input: 1.25;
}

html:not(.reset) {
  font-size: 100%; /* 16px */
  line-height: var(--line-height);
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}

code,
kbd,
samp,
pre {
  font-size: 1em;
  font-family:
    ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

body:not(.reset) {
  color: var(--color-text);
}

a:not(.reset) {
  cursor: pointer;
  color: var(--color-primary-3);
  text-decoration: underline;

  &:hover,
  &[aria-current="page"],
  &.current-page {
    color: var(--color-text);
  }
}

h1:not(.reset),
h2:not(.reset),
h3:not(.reset),
h4:not(.reset),
h5:not(.reset),
h6:not(.reset) {
  display: block;
  margin: 0;
  margin-bottom: var(--space-2);
  font-weight: bold;
}

h1:not(.reset) {
  font-size: var(--font-h1);
}

h2:not(.reset) {
  font-size: var(--font-h2);
}

h3:not(.reset) {
  font-size: var(--font-h3);
}

h4:not(.reset) {
  font-size: var(--font-h4);
}

h5:not(.reset) {
  font-size: var(--font-h5);
}

h6:not(.reset) {
  margin-bottom: 0;
  font-size: var(--font-h6);
}

p:not(.reset) {
  display: block;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-size: var(--font-p);
}

small:not(.reset) {
  display: inline;
  color: var(--color-text-muted);
  font-weight: normal;
  font-size: var(--font-small);
}

abbr:not(.reset) {
  cursor: help;
  text-decoration: underline dotted;
}

strong:not(.reset) {
  font-weight: bold;
}

b:not(.reset) {
  font-weight: bold;
}

em:not(.reset) {
  font-style: italic;
}

i:not(.reset) {
  font-style: italic;
}

cite:not(.reset) {
  font-style: italic;
}

del:not(.reset) {
  text-decoration: line-through;
}

ins:not(.reset) {
  text-decoration: underline;
}

kbd:not(.reset) {
  border: 1px solid var(--color-contrast-6);
  border-radius: var(--border-radius);
  background-color: var(--color-contrast-5);
  padding: 0 var(--space-1);
  width: fit-content;
  color: var(--color-base);
  line-height: calc(var(--line-height) * 1em - 2px);
  font-family: monospace;
}

mark:not(.reset) {
  background-color: var(--color-yellow);
  width: fit-content;
}

s:not(.reset) {
  text-decoration: line-through;
}

u:not(.reset) {
  text-decoration: underline;
}

sup:not(.reset) {
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}

sub:not(.reset) {
  position: relative;
  bottom: -0.25em;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}
