/**
 * <details> with <details>-siblings is styled as an accordion. If only one item should be expanded at one time,
 * the same `name` attribute can be used, eg <details name="faq" /> <details name="faq" />
 *
 * <details open>
 *   <summary>Open</summary>
 *   Some expanded text
 * </details>
 * <details>
 *   <summary>Closed 1</summary>
 *   Some other text
 * </details>
 * <details>
 *   <summary>Closed 2</summary>
 *   Some other text
 * </details>
 *
 *  +---------------------+
 *  | Open             ▲  |
 *  +---------------------+
 *  |                     |
 *  | Some expanded text  |
 *  |                     |
 *  +---------------------+
 *  | Closed 1         ▼  |
 *  +---------------------+
 *  | Closed 2         ▼  |
 *  +---------------------+
 */

details:not(.reset) {
  position: relative;
  border-radius: var(--border-radius);
  background-color: var(--color-base);
  color: var(--color-text);

  > summary {
    display: flex;
    align-items: center;
    gap: var(--space-gap);
    transition: color var(--transition-duration) ease-in-out;
    cursor: pointer;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    background-color: var(--color-contrast-1);
    padding: var(--space-3) var(--space-4);
    font-weight: bold;
    list-style: none;
    &:hover {
      color: var(--color-primary);
    }

    &::after {
      display: inline-block;
      transform: rotate(0deg);
      transform-origin: center;
      mask: var(--symbol-chevron-down) center/contain no-repeat;
      transition: transform var(--transition-duration);
      margin-inline-start: auto;
      background-color: currentColor;
      width: 1rem;
      height: 1rem;
      content: "";
    }
  }

  /* Open accordion */
  &[open] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    > summary {
      border-bottom: 1px solid var(--color-border);
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      color: var(--color-primary-3);

      &::after {
        transform: rotate(-180deg);
      }
    }
  }

  /* accordion is not first */
  + details > summary {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  /* accordion is not last */
  &:has(+ details) > summary {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &::details-content {
    display: block;
    transition: var(--transition-duration) ease-in-out;
    transition-behavior: allow-discrete;
    transition-property: height, padding, content-visibility;
    border: solid var(--color-border);
    border-width: 0 1px;
    padding: 0 var(--space-4);
    height: 0;
    overflow: hidden;
  }

  &[open]::details-content {
    padding: var(--space-3) var(--space-4);
    height: auto; /* Fallback for browsers missing 'calc-size' support */
    height: calc-size(auto, size);
  }

  &[open]:last-of-type {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    &::details-content {
      border-bottom-width: 1px;
      border-bottom-right-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }
  }

  &:last-of-type {
    > summary {
      transition:
        color var(--transition-duration) ease-in-out,
        border-bottom-left-radius var(--transition-duration) var(--transition-duration)
          ease-out,
        border-bottom-right-radius var(--transition-duration) var(--transition-duration)
          ease-out;
    }
    &[open] {
      > summary {
        transition-property: none;
      }
    }
  }
}

[data-theme="playful"] details:not(.reset) {
  transition: margin var(--transition-duration) ease-in-out;
  margin-top: -3px;
  > summary {
    transition: var(--transition-duration) ease-in-out;
    transition-property: box-shadow, padding;
    box-shadow:
        /* spread */
      0 0 0 0 var(--color-contrast-2),
      /* crack */ inset 0 0 0 0 var(--color-contrast-3),
      /* raise */ inset 0 0 0 1px var(--color-contrast-2);
    border: none;
    padding-bottom: calc(var(--space-3) + 3px);
  }

  &[open] {
    margin-top: 0;

    > summary {
      padding-bottom: var(--space-3);
    }
  }

  &:not([open]) {
    /* prevent shadow from bleeding to previous accordion if closed */
    + details > summary {
      clip-path: inset(0 -20px -20px -20px);
    }

    /* cast shadow if open */
    > summary {
      box-shadow:
          /* spread */
        0 2px 8px 0 var(--color-contrast-3),
        /* crack */ inset 0 -1px 0 0 var(--color-contrast-3),
        /* raise */ inset 0 -4px 0 0 var(--color-contrast-2);
    }

    /* get a shadow cast from previous element */
    + details[open] > summary {
      box-shadow:
          /* spread */
        0 0 0 0 var(--color-contrast-2),
        /* crack */ inset 0 0 0 0 var(--color-contrast-2),
        /* raise */ inset 0 0 0 1px var(--color-contrast-2),
        /* top-cast */ inset 0 8px 6px -6px var(--color-contrast-2);
    }
  }
}
