dialog:has(> section):not(.reset) {
  box-shadow: var(--shadow-popup);
  border: none;
  padding: 0;
  width: auto;
  max-width: 480px;

  button[command="close"]:empty {
    all: unset;
    cursor: pointer;
    margin-inline-end: calc(-1 * var(--space-2));
    background-color: transparent;
    padding: 0 var(--space-2);
    width: var(--font-p);
    color: var(--color-contrast-3);
    &:hover {
      background-color: transparent;
      color: var(--color-contrast-4);
    }
    &:active {
      background-color: transparent;
      color: var(--color-contrast-5);
    }
    &::before {
      content: "×";
      font-weight: normal;
      font-size: var(--space-8);
      line-height: 0.6;
    }
  }
}

dialog:has(> section):not(.reset) {
  transform: scale(0);
  opacity: 0;
  transition:
    all var(--transition-duration),
    display var(--transition-duration);
  transition-behavior: allow-discrete;
  width: fit-content;

  &[open] {
    transform: scale(1);
    opacity: 1;
    border-radius: var(--border-radius);
    @starting-style {
      transform: scale(0);
      opacity: 0;
    }
  }
}

dialog:has(> section):not(.reset) {
  section:not(.reset) {
    border: 0;

    header {
      justify-content: space-between;
    }

    footer {
      justify-content: end;
    }
  }
}

/* backdrop animation */
dialog:has(> section):not(.reset)::backdrop {
  opacity: 0;
  transition: all var(--transition-duration);
  transition-behaviour: allow-discrete;
  @starting-style {
    opacity: 1;
  }
}

dialog[open]:has(> section):not(.reset)::backdrop {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.75);

  @starting-style {
    opacity: 0;
  }
}
