/**
 * <details> with <details>-siblings is styled as an accordion. If only one item should be expanded at one time,
 * the same `name` attribute can be used, eg <details name="faq" /> <details name="faq" />
 *
 * <details open>
 *   <summary>Open</summary>
 *   Some expanded text
 * </details>
 * <details>
 *   <summary>Closed 1</summary>
 *   Some other text
 * </details>
 * <details>
 *   <summary>Closed 2</summary>
 *   Some other text
 * </details>
 *
 *  +---------------------+
 *  | Open             ▲  |
 *  +---------------------+
 *  |                     |
 *  | Some expanded text  |
 *  |                     |
 *  +---------------------+
 *  | Closed 1         ▼  |
 *  +---------------------+
 *  | Closed 2         ▼  |
 *  +---------------------+
 */

details:not(.reset),
.accordion {
  position: relative;
  transition: all var(--transition-duration);
  margin-top: -3px;
  background-color: var(--color-base);
  color: var(--color-text);

  &:first-of-type,
  &:first-of-type::before {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: var(--shadow-clickables);
    content: "";
  }

  > summary,
  .title {
    display: flex;
    align-items: center;
    gap: var(--space-gap);
    transition: all var(--transition-duration) ease-in-out;
    cursor: pointer;
    box-shadow:
      /* spread */
      0 2px 6px 0 var(--color-primary-5),
      /* crack */ inset 0 -1px 0 0 var(--color-primary-5),
      /* raise */ inset 0 -4px 0 0 var(--color-primary-4);
    background-color: var(--color-primary);

    padding: var(--space-3) var(--space-4);
    padding-bottom: calc(var(--space-3) + 3px);
    color: var(--color-primary-contrast);
    font-weight: bold;
    list-style: none;

    &::after {
      display: inline-block;
      transform: rotate(0deg);
      transform-origin: center;
      mask: var(--symbol-chevron-down) center/contain no-repeat;
      transition: all var(--transition-duration);
      margin-inline-start: auto;
      background-color: currentColor;
      width: 1rem;
      height: 1rem;
      content: "";
    }
  }

  &:last-of-type:not(:open) {
    & > summary,
    .title {
      transition: all var(--transition-duration);
      border-bottom-right-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }
  }

  &:first-of-type {
    & > summary,
    .title {
      border-top-right-radius: var(--border-radius);
      border-top-left-radius: var(--border-radius);
    }
  }

  &[open]:first-of-type > summary {
    box-shadow:
      /* spread */
      0 0 0 0 var(--color-contrast-2),
      /* crack */ inset 0 0 0 0 var(--color-primary-5),
      /* raise */ inset 0 0 0 1px var(--color-primary-4);
  }

  + details[open] > summary {
    box-shadow:
      /* spread */
      0 0 0 0 var(--color-primary-5),
      /* crack */ inset 0 0 0 0 var(--color-primary-4),
      /* raise */ inset 0 0 0 1px var(--color-primary-4),
      /* top-spread */ inset 0 8px 6px -6px var(--color-primary-5);
  }

  &[open] + details[open] > summary {
    box-shadow:
      /* spread */
      0 0 0 0 var(--color-contrast-2),
      /* crack */ inset 0 0 0 0 var(--color-primary-4),
      /* raise */ inset 0 -1px 0 1px var(--color-primary-4),
      /* top-spread */ inset 0 0 0 0 var(--color-contrast-2);
  }

  &[open] {
    transition: all var(--transition-duration);
    margin-top: 0px;
    > summary,
    .title {
      padding-bottom: var(--space-3);

      &::after {
        transform: rotate(-180deg);
        background-color: var(--color-primary-3);
      }
    }
  }

  + details,
  + .accordion {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    summary,
    .title {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &:has(+ details, + .accordion) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:not(.reset)::details-content {
    display: block;
    transition: all var(--transition-duration);
    transition-behavior: allow-discrete;
    box-shadow: inset 0 0 4px -2px var(--color-primary-5);
    border: 1px solid var(--border-color);
    background-color: var(--color-primary-1);
    padding: 0 var(--space-4);
    height: 0;
    overflow: hidden;
  }

  &[open]::details-content {
    padding: var(--space-3) var(--space-4);
    padding-inline-start: calc(var(--space-4));
    height: auto; /* Fallback for browsers missing 'calc-size' support */
    height: calc-size(auto, size);
  }

  &:last-of-type {
    &[open]::details-content {
      border-bottom-right-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }
  }
}
