:is([role="note"], [role="alert"]):not(.reset, [popover]),
.alert {
  display: flex;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-primary-2);
  border-radius: var(--border-radius);
  background-color: var(--color-primary-1);
  padding: var(--space-form-y) var(--space-form-x);
  color: var(--color-primary-5);

  hr {
    border-color: currentColor;
  }

  &::before {
    mask: var(--symbol-info) center/contain no-repeat;
    margin-inline-end: var(--space-gap-sm);
    background-color: currentColor;
    width: 1rem;
    height: 1rem;
    content: "";
  }

  &[role="alert"] {
    border-color: var(--color-danger-light);
    background-color: var(--color-danger-lighter);
    color: var(--color-danger);

    &:not(.alert--no-icon)::before {
      mask: var(--symbol-danger) center/contain no-repeat;
    }
  }
}
