@import "../form/input.css";

button:not(.reset, [role="tab"]),
[role="button"]:not(.reset),
input[type="submit"]:not(.reset) {
  position: relative;
  transition: background-color var(--transition-duration) ease-in-out;
  box-shadow: var(--shadow-clickable);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  padding: var(--space-form-y) var(--space-form-x);
  width: max-content;
  color: var(--color-primary-contrast);
  font-weight: normal;
  font-size: 1rem;
  line-height: var(--line-height-input);
  text-decoration: none;
  text-wrap: nowrap;

  &::before {
    transition-duration: var(--transition-duration);
    transition-property: margin, width;
    margin-inline-end: 0;
    width: 0;
    content: "";
  }

  &[aria-busy="true"] {
    &::before {
      display: inline-block;
      mask: var(--symbol-busy) center/contain no-repeat;
      margin-inline-end: var(--space-gap-sm);
      background-color: currentColor;
      width: 1em;
      height: 0.75em;
      content: "";
    }
  }

  &:disabled {
    box-shadow: none;
    border: 1px solid var(--color-contrast-2);
    background-color: var(--color-contrast-1);
    color: var(--color-contrast-4);
  }

  &:not(:disabled) {
    &:hover {
      cursor: pointer;
      border-color: var(--color-primary-dark);
      background-color: var(--color-primary-dark);
    }

    &:is(:active, [aria-pressed="true"]) {
      box-shadow: none;
      border-color: var(--color-primary-darker);
      background-color: var(--color-primary-darker);
    }
  }
}

[role="group"]:not(.reset) {
  display: inline-flex;

  > :is(button, [role="button"], input[type="submit"]):not(.reset) {
    box-shadow: none;
    &:not(:disabled) {
      border: 1px solid var(--color-primary-dark);
    }
    &:not(:first-child) {
      border-inline-start-width: 0;
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: auto;
      content: "";
    }

    &:not(:active, :disabled)::before {
      box-shadow: var(--shadow-clickable);
    }

    &:not(:last-child) {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }
  }
}

input[type="reset"]:not(.reset) {
  cursor: pointer;
  border: 1px solid transparent; /* make it same height as other buttons */
  background-color: transparent;
  padding: var(--space-form-y) 0;
  width: max-content;
  color: var(--color-danger-3);
  font-size: 1rem;
}

[data-theme="playful"] {
  button:not(.reset, [role="tab"]),
  [role="button"]:not(.reset),
  input[type="submit"]:not(.reset),
  .button {
    transform: translateY(-4px);
    transition-property: background-color, padding, box-shadow, margin, transform;
    box-shadow:
      0 2px 8px 0 var(--color-contrast-3),
      inset 0 -1px 0 var(--color-primary-darker),
      inset 0 -4px 0 var(--color-primary-dark);
    border: none;

    padding-bottom: calc(var(--space-form-y) + 4px);

    &:disabled,
    &.disabled {
      padding-bottom: var(--space-form-y);
    }

    &:not(:disabled) {
      &:hover {
        border-color: transparent;
        background-color: var(--color-primary-3);
      }

      &:is(:active, [aria-pressed="true"]) {
        transform: translateY(0);
        margin-bottom: 4px;
        box-shadow:
          none,
          inset 0 -1px 0 var(--color-primary-darker);
        border-color: transparent;
        background-color: var(--color-primary-3);
        padding-bottom: var(--space-form-y);
      }
    }
  }
}
