code:not(.reset) {
  display: inline;
  border: 1px solid var(--color-contrast-2);
  border-radius: var(--border-radius);
  padding: 0 var(--space-1);
  color: var(--color-text);
  font-size: 0.875em;
  line-height: calc(var(--line-height) - 2px);
  font-family:
    ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  white-space: pre;
  word-wrap: break-word;
  &:not(:has(ins, del)) {
    background: var(--color-contrast-1);
  }
}

pre:has(code):not(.reset) {
  position: relative;
  z-index: 0;
  margin: var(--space-4) 0;
  border-radius: var(--border-radius);
  overflow: hidden;

  &:has(ins, del) {
    background: var(--color-contrast-1);
  }

  > code {
    display: block;
    padding: var(--space-4);

    ins {
      --change-background-internal: var(--color-green-1);
      --change-characters-internal: var(--color-green-2);
      --change-color-internal: var(--color-green-3);
      &::before {
        content: "+";
      }
    }

    del {
      --change-background-internal: var(--color-red-1);
      --change-characters-internal: var(--color-red-2);
      --change-color-internal: var(--color-red-3);
      &::before {
        content: "-";
      }
    }

    del,
    ins {
      background: var(--change-characters-internal);
      text-decoration: none;

      &::before,
      &::after {
        position: absolute;
        left: 0;
        z-index: -1;
        background-color: var(--change-background-internal);
        width: 100%;
      }
      &::before {
        right: 0;
        padding: 0 var(--space-1);
        color: var(--change-color-internal);
        font-weight: bolder;
      }
      &::after {
        left: 100%;
      }
    }
  }
}
