input[type="checkbox"]:not(.reset, [role="switch"]) {
  --checkbox-size-internal: 1.25em;
  --check-border-radius-internal: clamp(
    0px,
    var(--border-radius),
    calc(var(--checkbox-size-internal) / 3)
  );

  display: inline-grid;
  place-content: center;
  appearance: none;
  cursor: pointer;
  margin: 0;
  box-shadow: var(--shadow-input);
  border: 1px solid var(--color-border);
  border-radius: var(--check-border-radius-internal);
  aspect-ratio: 1 / 1;
  width: var(--checkbox-size-internal);
  height: var(--checkbox-size-internal);

  &[aria-invalid="true"]:not(:disabled) {
    border-color: var(--color-danger-2);
    background-color: var(--color-danger-1);

    &::before {
      border-color: var(--color-danger-3);
      background-color: var(--color-danger-3);
    }

    &:checked {
      border-color: var(--color-danger-3);
    }

    + ul,
    span {
      margin: 0;
      padding-left: var(--space-5);
      color: var(--color-danger-3);
      font-size: var(--font-small);
    }
  }

  &:disabled {
    opacity: 0.7;
    cursor: default;
    box-shadow: none;
    border-color: var(--color-contrast-3);
    background-color: var(--color-contrast-2);
  }

  &:checked,
  &:indeterminate {
    border-color: var(--color-primary-3);

    &:disabled {
      border-color: var(--color-contrast-3);
    }
  }

  &::before {
    transform: scale(0);
    transition: var(--transition-duration) transform;
    border-radius: var(--check-border-radius-internal);
    background-color: var(--color-primary);
    width: calc(var(--checkbox-size-internal) - 1px);
    height: calc(var(--checkbox-size-internal) - 1px);
    content: "";
  }

  &:checked::before {
    transform: scale(1);
    mask:
      var(--symbol-checkmark) center/contain no-repeat,
      linear-gradient(black);
    mask-composite: exclude;
  }

  &:indeterminate::before {
    transform: scale(1);
    mask:
      var(--symbol-minus) center/contain no-repeat,
      linear-gradient(black);
    mask-composite: exclude;
  }

  &:disabled::before {
    mask: var(--symbol-checkmark) center/contain no-repeat;
    background-color: var(--color-contrast-5);
  }
}
