label:not(.reset) {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  &:has([type="checkbox"], [type="radio"]) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-gap-sm);

    &:has(:disabled),
    &:has(.disabled) {
      color: var(--color-text-muted);
    }

    &:not(:last-of-type) {
      margin-bottom: var(--space-gap-sm);
    }
  }

  &:has(input:not(:disabled), textarea:not(:disabled), select:not(:disabled)) {
    cursor: pointer;
  }
}

input[id]:is([type="checkbox"], [type="radio"]) {
  &:has(~ label[for]) {
    vertical-align: middle;
  }
  + label[for] {
    display: inline-block;
    vertical-align: middle;
    margin-inline-start: var(--space-gap-sm);
    margin-inline-end: var(--space-gap);
  }
}

label[for] {
  cursor: pointer;
}

/* Marks non-required inputs as "Optional" */
label:has(
  input:not([type="checkbox"], [type="radio"]):not(:required),
  select:not(:required)
) {
  position: relative;

  &::after {
    position: absolute;
    inset-block-start: calc(var(--font-p) - var(--font-small));
    inset-inline-end: 0;
    content: var(--input-optional-text, "");
    color: var(--color-text-muted);
    font-size: var(--font-small);
  }
}
