select:not(.reset) {
  appearance: none;
  cursor: pointer;
  background-image: var(--symbol-chevron-down);
  background-position: right 0.75rem center;
  background-size: 1em;
  background-repeat: no-repeat;
  background-color: var(--color-base);

  &[multiple] {
    background: none;
    padding: 0;
  }
}

[dir="rtl"] select:not(.reset) {
  background-position: left 0.75rem center;
}

[role="listbox"][aria-multiselectable="true"] {
  > button[popovertarget] {
    justify-content: start;
    cursor: pointer;
    box-shadow: none;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    background-image: var(--symbol-chevron-down);
    background-position: right 0.75rem center;
    background-size: 1rem;
    background-repeat: no-repeat;
    background-color: white;
    padding: var(--space-form-y) var(--space-form-x);
    width: 100%;
    color: var(--color-contrast);
    text-align: start;
    &:hover {
      border-color: var(--color-border);
      background-color: transparent;
    }
  }

  > [popover] {
    top: anchor(bottom);
    left: anchor(left);
    margin-top: var(--space-1);
    margin-left: 0;
    box-shadow: var(--shadow-popups);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);

    padding: var(--space-1) 0;

    width: anchor-size(width);
    min-width: fit-content;
    list-style: none;

    [role="option"] {
      label,
      a {
        padding: var(--space-2) var(--space-3);

        &:hover {
          background-color: var(--color-contrast-1);
        }

        &:has(:checked),
        &[aria-current="page"] {
          background-color: var(--color-primary-1);
        }
      }
    }
  }
}

[data-theme="playful"] {
  select:not(.reset) {
    background-position: right var(--space-form-x) top calc((var(--input-height-internal) - 1em) / 2 + 2px);

    &:focus {
      background-position: right var(--space-form-x) top
      calc((var(--input-height-internal) - 1em) / 2);
    }
  }

  [dir="rtl"] select:not(.reset) {
    background-position: left var(--space-form-x) top
    calc((var(--input-height-internal) - 1em) / 2 + 2px);

    &:focus {
      background-position: left var(--space-form-x) top
      calc((var(--input-height-internal) - 1em) / 2 + 2px);
    }
  }
}