@layer reset, base, components, utilities, playful;

@import "modern-normalize/modern-normalize.css" layer(reset);

@import "symbols.css" layer(base);

@import "colors.css" layer(base);

@import "typography.css" layer(base);
@import "typography-utilities.css" layer(utilities);

@import "space.css" layer(base);
@import "space-utilities.css" layer(utilities);

@import "components/index.css" layer(components);
@import "content/index.css" layer(components);
@import "form/index.css" layer(components);

@layer base {
  *:focus-visible {
    outline: 3px solid orange;
    outline-offset: 2px;
  }
}

:root {
  --transition-duration: 0.2s;
  --input-optional-text: "Optional";

  --shadow-popup: 0 2px 16px 0 light-dark(oklch(0 0 0 / 0.2), oklch(0 0 0));
  --shadow-clickable: none;
  --shadow-input: none;

  /*
  --shadow-clickable: 0 2px 8px 0 light-dark(oklch(0 0 0 / 0.4), oklch(0 0 0 / 0.4));
  --shadow-input: inset 0 1px 2px 0 light-dark(oklch(0 0 0 / 0.2), oklch(0 0 0 / 0.6));
*/

  @media (prefers-reduced-motion: reduce) {
    --transition-duration: 0s;
  }
}
